body{
    margin: 0;
    overflow-y: hidden;
}

.container{   
    max-width: 1800px;
    margin: 0 auto;
}

image{
    background-size: cover;
    background-position: center;
}

nav{
    width: 100vw;
    height: 60px;
    background: black;
    
}

nav .container{
    width: 80%;
    display: flex;
    background:black;
    align-items: center;
    justify-content: space-around;
}

nav .container #logo{
    background-image: url(/20191022/images/logo.png);
    height: 60px;
    width: 60px;
    background-size: cover;
    background-position: center;
}

nav .container #fluent_design_system{
    color: white;
    font-weight: bold;
}

nav .container .menu ul{
    display: flex;
    list-style-type:none;
}

nav .container .menu ul li{
    padding: 5px 40px;
    color: white;
}

a{
text-decoration:none;
}

a:visited {color:white;}

#section1{
    height: 85vh;
    width: 100vw;
    background:black;

}

#section1 .container{
    height: 100%;
    width: 80%;
    background:black;
    display: flex;
    align-items: center;

}

#section1 .container .card{
    color: white;
    width: 50%;
    height: 80%;
}

#section1 .container .card h1{
    width: 80%;
    padding:50px;
    font-size: 64px;
    line-height: 80px;
    color: rgb(79, 229, 255);
    font-weight: 600;
    margin: 0 auto;
}

#section1 .container .card p{
    width: 80%;
    padding:30px;
    margin: 0 auto;
    color: rgb(255, 255, 255);
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
}

#section1 .container .section1_image{
    background-image: url("https://i.pinimg.com/736x/6e/34/fc/6e34fc1a7f220abb0b5d4d23c2a54c2a--crazy-cats-cat-lovers.jpg");
    width: 50%;
    height: 100%;

}

#section2{
    height: 25vh;
    width: 100vw;
}