body {
  margin: 0;
}

body header nav {
  width: 100vw;
  background-color: lightgray;
  position: fixed;
  z-index: 1;
}

body header nav .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body header nav .container .logo {
  background-image: url("./images/logo.png");
  height: 180px;
  width: 346px;
}

body header nav .container .logo h1 {
  display: none;
}

body header nav .container .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body header nav .container .menu ul li {
  display: block;
}

body header nav .container .menu ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 15px 11px;
  color: black;
}

body header nav .container .menu ul li a:hover {
  color: white;
  border: solid white 1px;
  -webkit-transition: 1s;
  transition: 1s;
}

body header .bx-wrapper {
  padding: 175px 0 0 0;
  margin: 0 0 40px 0;
}

body header .bx-wrapper .slider .img1 {
  background-image: url(./images/bg-2.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

body header .bx-wrapper .slider .img2 {
  background-image: url(./images/bg-3.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

body header .bx-wrapper .slider .img3 {
  background-image: url(./images/bg-4.jpg);
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
}

body main #brand_story {
  background-color: orange;
}

body main #brand_story .container {
  background: wheat;
}

body main #brand_story .container .description .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main #brand_story .container .description .header h2 {
  font-weight: 900;
}

body main #brand_story .container .description .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body main #brand_story .container .description .menu ul li {
  display: block;
}

body main #brand_story .container .description .menu ul li a {
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  padding: 0 11px;
  color: black;
}

body main #brand_story .container .description .menu ul li a:hover {
  color: grey;
  border: solid grey 1px;
  -webkit-transition: 1s;
  transition: 1s;
}

body main #brand_story .container #history .container .img1 {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  background-image: url(/images/bg-2.jpg);
  height: 100%;
  width: 100%;
  border: brown 1px solid;
}

body main #brand_story .container #history .container .article {
  padding: 25px;
  margin: 15px;
}

body main #brand_story .container #spirit .container .img2 {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  background-image: url(/images/bg-3.jpg);
  height: 100%;
  width: 100%;
  border: brown 1px solid;
  margin: 3px 0;
}

body main #brand_story .container #spirit .container .article {
  padding: 25px;
  margin: 15px;
}

body main #brand_story .container #economical .container .img3 {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  background-image: url(/images/bg-4.jpg);
  height: 100%;
  width: 100%;
  border: brown 1px solid;
}

body main #brand_story .container #economical .container .article {
  padding: 25px;
  margin: 15px;
}

body main #hotpot_introduction {
  background-color: orange;
}

body main #hotpot_introduction .container {
  background: wheat;
}

body main #hotpot_introduction .container img {
  width: 100%;
  height: 90%;
}

body main #join_us .bg1 {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  width: 100vw;
  height: auto;
  background-image: url(/images/bg-4.jpg);
  background-attachment: fixed;
}

body main #join_us .bg1 .block {
  width: 100%;
  height: 20vh;
}

body main #join_us .bg1 .adventages {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: 0 auto;
}

body main #join_us .bg1 .adventages h2 {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  padding: 5px 0;
}

body main #join_us .bg1 .adventages .adventages_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body main #join_us .bg1 .adventages .adventages_box .adventage1 {
  width: 40%;
  height: 70%;
}

body main #join_us .bg1 .adventages .adventages_box .adventage1 h4 {
  font-weight: 500;
  font-size: 40px;
}

body main #join_us .bg1 .adventages .adventages_box .adventage1 p {
  font-weight: 300;
  font-size: 30px;
}

body main #join_us .bg1 .adventages .adventages_box .adventage2 {
  width: 40%;
  height: 70%;
}

body main #join_us .bg1 .adventages .adventages_box .adventage2 h4 {
  font-weight: 500;
  font-size: 40px;
}

body main #join_us .bg1 .adventages .adventages_box .adventage2 p {
  font-weight: 300;
  font-size: 30px;
}

body main #join_us .bg1 .block {
  width: 100%;
  height: 20vh;
}

body main #join_us .bg2 {
  background-position: center;
  background-size: cover;
  width: 100vw;
  height: 70vh;
  width: 100vw;
  height: auto;
  background-image: url(/images/bg-2.jpg);
}

body main #join_us .bg2 .block {
  width: 100%;
  height: 20vh;
}

body main #join_us .bg2 .way {
  background-color: rgba(255, 255, 255, 0.5);
  width: 70%;
  margin: 0 auto;
}

body main #join_us .bg2 .way h2 {
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  padding: 5px 0;
}

body main #join_us .bg2 .way p {
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  padding: 10px 0;
}

body main #join_us .bg2 .block {
  width: 100%;
  height: 20vh;
}
/*# sourceMappingURL=style_var1.css.map */