$bg-color-grey:grey ;
$bg-color-black:black ;

$font-color-title:white;
$font-sizq-title:50px;
$font-weight: 800;


@mixin pic (){
    background-position: center;
    background-size: cover;
}

@mixin bg_style {
    height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
